[MQTT]
nombre = servidorMQTT
broker_address= ipServidorMQTT
port = 1883
user = usuarioMQTT
password = passwordMQTT

[General]
pausa = 300


#Configuraciones para el lector de radiación
[rad]
port = /dev/ttyUSB0
dir_MODBUS = 1
baudrate = 9600
bytesize = 8
parity = serial.PARITY_NONE
stopbits = 1
timeout = 1
debug = False
mode = minimalmodbus.MODE_RTU
rtscts = False
echo = False
dir_memoria = 0000
dir_memoria_TMP = 0007
dir_memoria_TMP_EXT = 0008

[debug]
#WARNING O ERROR
debug= ERROR
directorio_log = ./
